@page "/add-photo"
@using BlazorComponents.Components.Edit

<MudText Typo="Typo.h4">New Picture</MudText>

<EditPhotoComponent PhotoChanged="HandlePhotoChanged" />


<button @onclick="SayHiWithInterop">Click here to say hi!</button>
<Map />